{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <div class="container my-5" id="block-apropos">
        <div class="px-3">
            <h2>À propos de moi.</h2>
            <h5>Bonjour, je suis {{ peintre.prenom }} {{ peintre.nom | upper }}.</h5>
            <div class="row d-flex justify-content-between" id="block-apropos-image">
                <div class="col-md-5">
                    <p class="lead">
                        {{ peintre.aPropos }}
                    </p>
                    <ul>
                        <li>Mon instagram : <i class="fa-brands fa-instagram"></i> <a
                                    href="">{{ peintre.instagram }}</a></li>
                        <li>Mon Email : <i class="fa-solid fa-envelope"></i> <a href="">{{ peintre.email }}</a></li>
                    </ul>
                    <p class="lead">
                        <a href="{{ path('contact') }}">
                            <button class="btn btn-sm btn-info">Me Contacter</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('assets/images/portrait.png') | imagine_filter('portfolio') }}"
                         alt="Portrait du peintre" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
