{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    {% set img = categorie.peintures | last %}
    <section class="container px-4 py-5">
        <div class="row d-flex justify-content-around">
            <div class="col-md-5">
                <h2 class="pb-2 border-bottom">{{ categorie.nom }}</h2>
                <p>{{ categorie.description }}</p>
            </div>
            <div class="col-md-3 d-sm-none d-md-block ">
                <img src="{{ vich_uploader_asset(img, 'imageFile') | imagine_filter('portfolio') }}" alt="{{ img.nom }}"
                     class="img-fluid
                img-thumbnail rounded">
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for peinture in peintures %}
                        {% if peinture.portfolio %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="{{ vich_uploader_asset(peinture, 'imageFile')| imagine_filter('portfolio') }}"
                                         alt="{{ peinture.nom }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ peinture.nom }}</h5>
                                        <p class="card-text">
                                            {{ peinture.description }}
                                        </p>
                                        <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                                            <button class="btn btn-sm btn-info">En savoir plus ...</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
