{% extends 'base.html.twig' %}

{% block title %}{{ blogpost.titre }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">{{ blogpost.titre }}</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6>Description : </h6>
                                <p class="card-text">{{ blogpost.contenu }}</p>
                            </li>
                            <li class="list-group-item">
                                <h6>Auteur : </h6>
                                <p class="card-text">{{ blogpost.user.prenom }} {{ blogpost.user.nom |upper }}</p>
                            </li>
                            <li class="list-group-item">
                                <h6>Date de publication : </h6>
                                <p class="card-text">
                                    <span class="ms-auto">{{ blogpost.createdAt | date('d/m/Y') }}</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'commentaire/_form.html.twig' %}
    {% include 'commentaire/_commentaires.html.twig' %}
{% endblock %}


